.card {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 3rem 0;
  padding: 1rem;

  border: 1px black solid;
  border-radius: 10px;
  box-shadow: 10px 5px 10px grey;
}

.card img {
  margin: 0 auto;
  border-radius: 25%
}

.card h2 {
  font-size: 2rem;
  margin: 0 auto;
}

.card h3 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links i {
  font-size: 3.0rem;
  margin: 1.0rem;
}

.social-links i:hover {
 color: green;
}
