.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 4rem 1rem 1rem 1rem;
  background-color: white;
  justify-content: center;
  text-align: center;
}

.container h2 {
  font-size: 2.5rem;
}
