.nav {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  background-color: black;
  z-index: 9999;
  position: fixed;
}

.nav-logo {
  display: flex;
  font-size: 2rem;
  text-shadow: 1.5px 1.5px grey;
  margin: 0.3rem 0.4rem;
  color: white;

}

.nav-items {
  display: flex;
  margin: 0.3rem;
}

.nav-item {
  display: flex;
  font-size: 1.3rem;
  padding: 0.3rem 0.5rem;
  color: white;
  text-decoration: none;

}

.nav-item:hover {
  color: black;
  background-color: lightgrey;
  cursor: pointer;
  transition: 1s;
}
